.icone{
    border-radius: 500px;
    border: 2px solid black;
    height: 150px;
    width: 150px;
    background-size: cover;
}

header section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 50px auto;
}

#image1 {
    background-image: url("https://i.pinimg.com/originals/54/b9/34/54b934ab4bf26803aea3df93c96f0b66.jpg");
}

#image2 {
    background-image: url("https://i.pinimg.com/736x/15/c6/7e/15c67e562996cf08c09dc5ec8c926432.jpg");
}

#image3 {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRoySc0fE0JdRG19dj9qZ5CgfJvfdm-RXA7iw&s");
}

#image4 {
    background-image: url("https://i.pinimg.com/564x/e2/e7/ee/e2e7ee2a6be22ef51f431357a7a9eb79.jpg");
}

#image5 {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZaMZpcoLYbrr_qS8IrW8tmcuyzKjwuW8QmA&s");
}

#image6 {
    background-image: url("https://images.cults3d.com/6BPjMV8igMpcCruKXDr1mtp8EgM=/516x516/filters:no_upscale()/https://fbi.cults3d.com/uploaders/28883710/illustration-file/88bbdfc2-7987-4c28-b47e-c97602f51c40/jotaro_kujo__pt_3__wallpaper__by_wenderss-da9dv7n.png");
}

#image7 {
    background-image: url("https://i.pinimg.com/736x/bc/67/17/bc6717db4f2e256350697a7ff21f4ee0.jpg");
}

#image8 {
    background-image: url("https://i.pinimg.com/474x/09/36/e9/0936e91ddba1ecb06dd85775f594ba76.jpg");
}

#image9 {
    background-image: url("https://i.pinimg.com/736x/f8/5f/51/f85f5190c02e56d6f09af8e26b976c50.jpg");
}

header div {
    text-align: center;
    border: 2px solid white;
    width: 1100px;
    margin: auto;
    color: white;
    background-color: black;
    border-radius: 20px;
    margin-top: 50px;
}

body {
    background-image: url("https://images8.alphacoders.com/755/thumb-1920-755323.jpg");
    background-size: cover;
}

main h2 {
    text-align: center;
    background-color: black;
    color: white;
    width : 700px;
    margin: auto;
    margin-top: 50px;
    padding: 10px;
    border-radius: 50px;
    border: 2px solid white;
}