main h2{
    background-color: white;
    width: 220px;
    margin: auto;
    margin-top: 50px;
    border: 2px solid black;
    justify-content: center;
    text-align: center;
}

body {
    background-image: url("https://images8.alphacoders.com/966/966117.jpg");
}


#liens {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#liens a {
    color: white;
}


