body {
    background-image: url("https://img3.wallspic.com/crops/6/9/0/4/7/174096/174096-manga_shonen-lanime-saut_de_shnen_hebdomadaire-naruto_uzumaki-manche-1920x1080.jpg");
    background-size: cover;

}

h1 {
    text-align: center;
    background-color: white;
    width: 1200px;
    border: 5px solid black;
    margin: auto;
    margin-top: 80px;
}
