body {
    background-image: url("https://img3.wallspic.com/crops/6/9/0/4/7/174096/174096-manga_shonen-lanime-saut_de_shnen_hebdomadaire-naruto_uzumaki-manche-1920x1080.jpg");
    background-size: cover;

}

h1 {
    text-align: center;
    background-color: white;
    width: 1200px;
    border: 5px solid black;
    margin: auto;
    margin-top: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
}


#manga1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    gap: 50px;
}

#manga1 img {
    width: 200px;
    height: 300px;
    transition: transform 0.3s ease, filter 0.3s ease;
    cursor: pointer;
    border: 5px solid black;
}

#manga1 img:hover {
    transform: scale(1.1) rotate(5deg);
    filter: brightness(1.2) drop-shadow(0 5px 15px rgba(0,0,0,0.3));
}
