#nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 300px;
    margin-top: 50px;
}

#nav a {
    text-decoration: none;
    background-color: black;
    color: white;
    border: 5px solid white;
    padding: 10px 20px;
    display: inline-block;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

#nav a:hover {
    transform: scale(1.2);
    background-color: #333;
    border: 6px solid black;
}
