#nav {
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap:40px;
}

#nav a {
    text-decoration: none;
    background-color: black;
    color: white;
    border: 2px solid white;
    padding-left: 20px;
    padding-right: 20px;
}

 a:hover {
    font-size:larger;
    padding: 10px;
}