body{
    background-image: url("https://images3.alphacoders.com/132/thumb-1920-1322308.jpeg");
}

form {
    text-align: center;
    width: 500px;
    margin: auto;
    margin-top: 100px;
    border: 5px solid black;
    padding-bottom: 30px;
    background-color: rgba(15, 40, 184, 0.356);
}