body {
    background-image: url("https://www.hdwallpapers.in/download/megumi_fushiguro_nobara_kugisaki_yuji_itadori_4k_hd_jujutsu_kaisen-HD.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}