body {
    background-image: url("https://images.wallpapersden.com/image/download/naruto-uzumaki-minimalist_a25saWqUmZqaraWkpJRpZW5trWdoZWk.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
}