body {
    background-image: url("https://i.imgur.com/SihAyEJ.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

form {
    text-align: center;
    margin: auto;
    margin-top: 100px;
    border: 5px solid black;
    width: 500px;
    padding-bottom: 20px;
    background-color: rgba(15, 40, 184, 0.356);

}