#h1acc, #pacc {
    background-color: black;
    color: white;
    text-align: center;
    margin: auto;
    width: 500px;
    border: 2px solid white;
    border-radius: 5px;
    margin-top: 50px;
}

body {
    background-image: url("https://i.pinimg.com/originals/d3/66/7b/d3667b280ac3b39031d345f8a038f953.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

#bot {
    text-align: center;
    background-color: white;
    width: 200px;
    margin: auto;
    margin-top: 200px;
}