#h1acc, #pacc {
    background-color: black;
    color: white;
    text-align: center;
    margin: auto;
    width: 500px;
    border: 2px solid white;
    border-radius: 5px;
    margin-top: 50px;
}

body {
    background-image: url("https://cdn.mos.cms.futurecdn.net/4HqNUJmCuMZWVEMk3kdEa.jpg ");
    background-repeat: no-repeat;
    background-size: cover;

}

#bot {
    text-align: center;
    background-color: white;
    width: 200px;
    margin: auto;
    margin-top: 200px;
}